.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  table {
    border-collapse: collapse;
    width: 50%;
    border: 1px solid #ddd;
  }
  
  tr {
    border: 1px solid #ddd;
  }
  
  td {
    padding: 8px;
    text-align: left;
  }
  
  td:nth-child(odd) {
    font-weight: bold; /* Applique une mise en forme différente à la première colonne */
  }
  
  th, td {
    border-bottom: 1px solid #ddd;
  }
  