
<div class="centered-content ">
  <H2 class="text-center">Dernier formulaire envoyé</H2>
  <div class="table-responsive-sm" *ngIf="data">
  <table class="table table-hover table-striped table-light w-25">
    <tbody>
      <tr *ngFor="let field of data | keyvalue">
        <td><p class="text-center">{{ field.key }}</p></td>
        <td><p class="text-center">{{ field.value }}</p></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>


<div class="centered-content" *ngIf="!data">
  <p>404 Not Found</p>
</div>
