/* Alignement des champs et ajout d'une marge en bas */
.example-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 16px;
}

/* Définition de la largeur des champs */
.example-container mat-form-field,
.example-full-width {
  width: 100%;
}

/* Marge en bas pour les champs */
.form-field {
  margin-bottom: 20px;
}

/* Style du bouton de soumission */
.submit-button {
  background-color: #007bff;
  color: #fff;
}

/* Style du message de succès */
.success-message {
  margin-top: 20px;
  font-weight: bold;
  color: green;
}
