.content {
    display: flex;
    margin: 0 auto;
    max-width: 500px;
    flex-direction: column;
    height: 100vh;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 150px;
  }
  
  #card {
    border-radius: 4px;
    border: 1px solid black;
    height: 200px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
  }